<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的个人简历</title>
        <link rel="stylesheet" href="/css/cv.css">
    </head>
    <body>
        <div class="container">
            <div class="info">
                <h3>个人信息<br>Personal Infromation</h3>
                <p>姓名：韩帅</p>
                <p>手机：15605217252</p>
                <p>邮箱：hanshuai1994@foxmail.com</p>
                <p>个人主页：<a href="http://hanshuai.me">hanshuai.me</a></p>
            </div>
            <div class="skill">
                <h3>前端技能<br>Font-end Skills</h3>
                <p>HTML / CSS</p>
                <ul>
                    <li>熟练掌握 HTML / CSS，可实现各种复杂页面布局</li>
                    <li>熟练使用 HTML5 / CSS3 的新特性，如语义化标签、Flex布局等</li>
                </ul>
                <p>ECMAScript(JavaScript)</p>
                <ul>
                    <li>熟练掌握原生 JavaScript，可实现</li>
                    <li>熟练使用 ES6 新特性，如箭头函数、class、模板表达式等</li>
                    <li>熟练掌握程序调试方法，能快速定位并处理JavaScript代码的 bug，具备良好的编码习惯</li>
                    <li>利用面向对象的思想对代码进行封装和优化</li>
                </ul>
                <p>DOM / BOM</p>
                <ul>
                    <li>熟悉原生 DOM 与 BOM 的使用，能利用其开发桌面 / 移动端前端组件</li>
                    <li>熟练使用原生的 JavaScript 对 DOM 对象进行操作，实现事件绑定、委托和其他复杂功能</li>
                </ul>
                <p>jQuery / Lodash / echarts / Remarkable</p>
                <ul>
                    <li>熟悉jQuery / Lodash 的使用， 用原生 Javascript 实现部分库中的功能，利用 jQuery 的</li>
                    <li>熟悉 echarts / Remarkable 等第三方库的使用，并在项目中实现</li>
                </ul>
                <p>HTTP / AJAX / JSON / Node.js / express</p>
                <ul>
                    <li>熟悉 HTTP 协议，理解数据传输过程</li>
                    <li>熟悉 AJAX 的使用与封装，熟悉前后端数据交互过程</li>
                    <li>能够利用 Node.js 与 Express 框架进行后端开发</li>
                    <li>爬虫：能够使用 Node.js 配合 cheerio 和 sync-request 框架，爬取网页数据</li>
                </ul>
                <p>Bootstrap / React / Git</p>
                <ul>
                    <li></li>
                </ul>
                <p>数据结构 / 算法</p>
                <ul>
                    <li>熟练掌握常见的数据结构(栈、队列、链表、哈希表)的性质，时间复杂度，并能够实现这些数据结构</li>
                </ul>
            </div>
        </div>
    </body>
</html>
