<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>韩帅的主页</title>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="js/utils.js"></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/slide.css">
        <link rel="icon" href="/img/favicon.png">
    </head>
    <body>
        <div id="particles">
            <canvas class="particles-js-canvas-el"></canvas>
        </div>
        <div class="header" name="top">
            <div class="about-me"><a href="resume" target="_blank">关于我</a></div>
            <div class="nav">
                <span data-index="0" class="selected">首页</span>
                <span data-index="1">天气</span>
                <span data-index="2">音乐</span>
                <span data-index="3">博客</span>
                <line></line>
            </div>
        </div>
        <div class="box" data-page="0">
            <div class="part-0 page">
                <div class="slide" data-section="2" data-index="0">
                    <div class="slide-section slide-0">

                    </div>
                    <div class="slide-section slide-1">

                    </div>
                    <div class="slide-section slide-2">

                    </div>
                </div>
                <button class="slide-button slide-left vertical-center" data-offset="-1">&lt;</button>
                <button class="slide-button slide-right vertical-center" data-offset="1">&gt;</button>
                <div class="slide-indicators">
                    <div id="id-indi-0" class="slide-indi indi-active" data-index="0"></div>
                    <div id="id-indi-1" class="slide-indi" data-index="1"></div>
                    <div id="id-indi-2" class="slide-indi" data-index="2"></div>
                </div>
            </div>
            <div class="part-1 page">
                <div class="part-1-text">
                    <h2>Weather Chart</h2>
                    <p>运用AJAX从和风天气获取数据</p>
                    <p>运用原生JavaScript对数据加工</p>
                    <p>运用echarts库进行数据可视化渲染</p>
                    <p><a href="weather">组件展示页面</a></p>
                </div>
                <div class="part-1-image">
                    <img src="img/weather.gif" alt="">
                </div>
            </div>
            <div class="part-2 page">
                <div class="part-2-text">
                    <h2>Music Player</h2>
                    <p>使用 AJAX 调用网易云音乐的 API 获取音乐文件</p>
                    <p>使用 jQuery 库与 JavaScript 实现播放器的音乐列表、播放/暂停、<br>随机/再次/停止播放、上/下一曲、调节音量、拖动进度条等功能</p>
                    <p><a href="music">组件展示页面</a></p>
                </div>
                <div class="part-2-image">
                    <img src="img/music.gif" alt="">
                </div>
            </div>
            <div class="part-3 page">
                <footer>
                    <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备17006498号-1</a>
                </footer>
            </div>
        </div>

        <script src="js/particles.js"></script>
        <script src="js/page.js"></script>
        <script src="js/slide.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
