<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的个人简历</title>
        <link rel="icon" href="img/favicon.png">
        <link rel="stylesheet" href="css/resume.css">
    </head>
    <body>
        <div class="container">
            <div class="info">
                <p id="myweb">GitHub：<a href="https://github.com/hanshuai1994">hanshuai1994</a>&nbsp;&nbsp;&nbsp;个人主页：<a href="http://hanshuai.me" target="_blank">hanshuai.me</a></p>
                <h3>个人信息</h3>
                <article class="info_article">
                    <div class="line-1">
                        <p>姓名：韩帅</p>
                        <p>手机：15605217252</p>
                    </div>
                    <div class="line-2">
                        <p>毕业院校：徐州工程学院</p>
                        <p>邮箱：hanshuai1994@foxmail.com</p>
                    </div>
                </article>
            </div>
            <div class="skill">
                <h3>前端技能</h3>
                <article class="skill_article">
                    <h4>HTML / CSS</h4>
                    <ul>
                        <li>熟练掌握 HTML / CSS，可实现 PC 端与移动端各种复杂的页面布局</li>
                        <li>熟练使用 HTML5 / CSS3 的新特性，如语义化标签、Flex布局等</li>
                    </ul>
                    <h4>ECMAScript(JavaScript)</h4>
                    <ul>
                        <li>熟练掌握原生 JavaScript，可实现多样化的页面功能</li>
                        <li>熟练使用 ES6 新特性，如箭头函数、Class、模板表达式等</li>
                        <li>具有良好的编码习惯，遵守编码规则，代码具备良好的可读性与可维护性</li>
                        <li>熟练掌握运用面向对象的思想对代码进行封装和优化</li>
                    </ul>
                    <h4>DOM / BOM</h4>
                    <ul>
                        <li>熟练掌握原生 JavaScript 的 DOM 操作，实现事件绑定、委托和其他功能</li>
                        <li>熟练掌握原生 JavaScript 的 BOM 操作，实现与浏览器窗口的互动</li>
                    </ul>
                    <h4>jQuery / Lodash / ECharts / Remarkable / Particles</h4>
                    <ul>
                        <li>熟练掌握 jQuery 的使用，可利用 jQuery 实现大部分原生 JavaScript 的功能</li>
                        <li>熟悉 Lodash 库，可利用其对常见数据类型进行常规处理</li>
                        <li>熟悉 ECharts / Remarkable / Particles 等第三方库，可在项目中快速实现</li>
                    </ul>
                    <h4>HTTP / AJAX / Node.js</h4>
                    <ul>
                        <li>熟悉 HTTP 协议，理解数据传输过程，熟悉协议中请求与响应</li>
                        <li>熟练掌握通过使用原生 JavaScript 对 XMLHttpRequest 对象进行处理，实现 AJAX 的封装，通过调用封装好的 AJAX 实现便捷的前后端交互</li>
                        <li>熟练掌握使用 Node.js 配合 Express 框架进行服务器端架设</li>
                        <li>熟练掌握使用 Node.js 配合 Cheerio 和 Sync-request 框架，爬取网页数据</li>
                    </ul>
                    <h4>Bootstrap / Git / Webpack / Vue.js </h4>
                    <ul>
                        <li>熟练掌握使用 Bootstrap 框架进行响应式布局</li>
                        <li>熟练掌握使用 Git 进行分布式版本控制</li>
                        <li>熟练掌握使用 Webpack 进行模块化程序开发</li>
                        <li>熟悉 Vue.js，掌握 Vue.js 的组件化开发和相关工具的使用</li>
                    </ul>
                </article>
            </div>
            <div class="program">
                <h3>项目作品</h3>
                <article class="program_article">
                    <h4>音乐播放器</h4>
                    <div class="music_player">
                        <div class="introduction">
                            <div class="introduction-text">
                                <p>一个可移植的音乐播放器组件</p>
                                <p>使用 AJAX 技术，利用网易云音乐的 API 获取音乐文件</p>
                                <p>使用 jQuery 库与 JavaScript 实现播放器的音乐列表、播放/暂停、随机/再次/停止播放、上/下一曲、调节音量、拖动进度条等功能</p>
                            </div>
                        </div>
                        <img src="img/resume/music_player.jpg" alt="">
                    </div>
                    <h4>个人博客</h4>
                    <div class="personal_blog">
                        <div class="introduction">
                            <div class="introduction-text">
                                <p>一个博客的 Demo</p>
                                <p>使用原生 JavaScript 对数据封装</p>
                                <p>使用 AJAX 进行前后端数据交互</p>
                                <p>使用 Node.js 进行服务器端的文件读写</p>
                                <p>实现了向服务器的数据库添加博客与评论，并即时反馈在页面的功能</p>
                            </div>
                        </div>
                        <div class="blog_img">
                            <img src="img/resume/blog_index.jpg" alt="">
                            <img src="img/resume/blog_detail.jpg" alt="">
                        </div>
                    </div>
                    <h4 class="page_3">气温预报</h4>
                    <div class="weather_forecast">
                        <div class="introduction">
                            <div class="introduction-text">
                                <p>一个即时变动的气温预报图表</p>
                                <p>使用 AJAX 技术，利用和风天气的 API 获取天气数据</p>
                                <p>使用原生 JavaScript 对数据加工</p>
                                <p>使用 echarts 库进行数据可视化渲染</p>
                            </div>
                        </div>
                        <img src="img/resume/weather_forecast.jpg" alt="">
                    </div>
                    <h4>轮播图</h4>
                    <div class="banner">
                        <div class="introduction">
                            <div class="introduction-text">
                                <p>一个轮播组件</p>
                                <p>使用原生 JavaScript，基于 CSS3 新特性</p>
                                <p>实现网页图片自动轮播，也可手动切换的功能</p>
                            </div>
                        </div>
                        <img src="img/resume/banner.jpg" alt="">
                    </div>
                </article>
            </div>
        </div>
    </body>
</html>
