<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TodoList</title>
        <link rel="icon" href="/img/favicon.png">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
        <style media="screen">
            .del {
                text-decoration: line-through;
                color:#cccccc!important;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            TodoList
                        </a>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-danger">您还有 {{count}} 事要完成</h3>
                        <input type="text" placeholder="请输入要添加的事项"  v-model="title" class="form-control" @keyup.enter='add'>
                        <div class="nav nav-pills" >
                            <ul class="nav nav-pills" style="margin: 10px 0px;">
                              <li role="presentation" :class="{active: hash == '#/all'}"><a href="#/all">全部事项</a></li>
                              <li role="presentation" :class="{active: hash == '#/finish'}"><a href="#/finish">已完成</a></li>
                              <li role="presentation" :class="{active: hash == '#/unfinish'}"><a href="#/unfinish">未完成</a></li>
                            </ul>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(todo, index) in filterTodos" @dblclick=remember(todo)>
                                <span :class='{del:todo.isSelected}' v-show='cur!=todo'>
                                    <input type="checkbox" v-model="todo.isSelected">
                                    {{todo.title}}
                                </span>
                                <input type="text" v-show='cur==todo' v-model='todo.title' @keyup.enter="cancel" @blur="cancel" v-focus='cur==todo'>
                              <button class="btn btn-danger pull-right btn-xs" @click="remove(todo)">X</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/todo.js"></script>
    </body>
</html>
