<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>上海天气</title>
        <!-- <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> -->
        <script src="js/utils.js"></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/weather.css">
        <link rel="icon" href="/images/favicon.png">
    </head>
    <body>
        <div id="main" style="width:600px; height:400px;"></div>

        <!-- <div id="particles">
            <canvas class="particles-js-canvas-el"></canvas>
        </div> -->
        <footer>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备17006498号-1</a>
        </footer>
        <!-- <script src="js/particles.js"></script> -->
        <script src="js/echarts.min.js"></script>
        <script src="js/weather.js">
        </script>
    </body>
</html>
