html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: '微软雅黑', 'Rubik', sans-serif;
}

#particles {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%
}

#particles canvas {
  display: block
}

a {
    text-decoration: none;
}

footer>a,
footer>a:hover,
footer>a:active,
footer>a:visited {
    color: #bbb;
}

.about-me>a,
.about-me>a:hover,
.about-me>a:active,
.about-me>a:visited {
    color: #fff;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

line {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    height: 2px;
    width: 80px;
    background: #03A9F4;
    bottom: 15px;
    right: 414px;
    transition: 1s transform;
}

.selected {
    color: #03A9F4;;
}

.box {
    width: 100%;
    height: 100%;

    transition: 1s transform;
    background: transparent;
}

.box>div {
    /* background: transparent; */
}

.page {
    width: 100%;
    height: 100%;
}

.part-0 {

}

.slide-indicators {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8%;
}

.slide-indi {
    background: black;
    display: inline-block;
    width: 70px;
    height: 5px;
    margin: 20px;
    border-radius: 5px;
}

.part-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #d2d2d2;
}

.part-1-text h2 {
    font-family: 'Lucida Handwriting', serif;
    font-style: italic;
    font-size: 40px;
    margin-bottom: 50px;
}

.part-1-image img {
    opacity: 0.8;
    border-radius: 50px;
}

.part-2 {
    background: #c8c8c8;
}

.part-3 {
    position: relative;
    background: #cde96e;
}
