body {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑', 'Rubik', sans-serif;
}

#particles {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%
}

#particles canvas {
  display: block
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

footer>a:active,
footer>a:visited {
    color: #bbb;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
