.slide {
    display: flex;
    width: 300%;
    height: 100%;

    transition: 1s transform;
}

.slide-section {
    /* position: relative; */
    width: 100%;
    height: 100%;
    background-repeat: round;
}

.slide-0 {
    background-image: url("../img/slide/slide_0.jpg");
}

.slide-1 {
    background-image: url("../img/slide/slide_1.jpg");
    /* left: 100%; */
}

.slide-2 {
    background-image: url("../img/slide/slide_2.jpg");
    /* left: 200%; */
}

.slide-button {
    width: 50px;
    height: 100px;
    font-size: 40px;

    background: #000;
    opacity: 0.3;
    color: #bdbdbd;
    border: none;
    cursor: pointer;
}

.slide-button:hover {
    background: #707070;
}

.slide-button:focus {
    outline: none;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slide-left {
    left: 0;
}

.slide-right {
    right: 0;
}

.slide-indi {
    cursor: pointer;
}

.indi-active {
    background-color: white;
}
